
<!-- Toolbar -->
<!-- <nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" style="color:#fff;">Recipes of mine</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 right">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<div class="row">
  <div class="col-md-12 padding-t-large">
    <h2>Recipe App</h2>
  </div>
</div>
  <!-- Highlight Card -->
  <div role="main" class="container padding-t-large">
    <div  class="col-sm-6" id="recipe" *ngFor="let recipe of recipeList let j = index">
        <div>
          <p>
            <span data-toggle='collapse' data-target='#j'>
              <h4><i *ngIf="recipe.type === 'cocktail'" class="fas fa-cocktail"></i><i *ngIf="recipe.type !== 'cocktail'" class="fas fa-utensils"></i> {{recipe.name}}</h4>
            </span>
          </p>
          <div class='collapse' id="j">
            <div class="col-md-11 offset-md-1" *ngFor="let amount of recipe.amount; let i = index">
              <p><span>{{amount}} {{recipe.amountType[i]}} {{recipe.ingredient[i]}}</span></p>
            </div>

            <p><span>directions</span></p>
            <div class="col-md-11 offset-md-1" *ngFor="let noted of recipe.note">
              <p><span>{{noted}}</span></p>
            </div>
          </div>
      </div>
      <!-- <i *ngIf="recipe.type === 'cocktail'" class="fas fa-cocktail"></i>
      <i *ngIf="recipe.type === 'food'" class="fas fa-utensils"></i> -->
    </div>
  </div>
